body {
  background-color: aquamarine;
}

.App {
  background-color: #9266ff;
  min-height: 500px;
  width: 400px;
  /* Top and botton margin 40px. Horizontally centered (auto) */
  margin: 40px auto;
}